certifi==2018.4.16
chardet==3.0.4
docopt==0.6.2
future==0.16.0
idna==2.6
mercurial==4.5.3
pipenv==2018.5.18
pipreqs==0.4.9
protobuf==3.5.1
python-telegram-bot==10.1.0
requests==2.18.4
six==1.11.0
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
yarg==0.1.9
